header{
    text-align: center;
    padding: 1rem 0;
}

h1{
    color: var(--corDestaque);
    font-weight: 700;
    font-size: 3rem;
}

.jogadorDaVez{
    text-align: center;
    color: var(--corSecundaria);
    font-weight: 300;
    font-size: 2rem;
    padding: 3rem 0 1rem 0;
}

.jogo{
    margin: 0 auto;
    width: 20rem;
    height: 20rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.5rem;
}

.jogo article{
    background: var(--corSecundaria);
    color: var(--corPrincipal);
    font-weight: 700;
    text-align: center;
    font-size: 5rem;
}

.mensagemFinal{
    width: 20rem;
    margin: 1.125rem auto;
    text-align: center;
}

.mensagemFinal p{
    padding: 1rem 0;
    margin-bottom: 1.125rem;
    color: var(--corSecundaria);
    background: var(--corDestaque);
    font-weight: 400;
    font-size: 2rem;
}

.mensagemFinal button{
    padding: 1rem 1.2rem;
    margin: 0 0.75rem;
    font-family: var(--fonte);
    box-shadow: 1px 3px 2px var(--corPrincipal);
}

#jogarNovamente{
    background: var(--corDestaque);
    color: var(--corSecundaria);
    border: none;
    font-weight: 400;
    font-size: 1.2rem;
}

#finalizar{
    background: rgb(151, 194, 199);
    color: var(--corSecundaria);
    border: none;
    font-weight: 400;
    font-size: 1.2rem;
}

@media screen and (min-width: 768px){
    h1{
        font-size: 5rem;
    }
}